@use 'abstracts' as *;
@use 'base' as *;
@use 'layouts' as *;
@use 'components' as *;
@use 'pages' as *;

html, body, #root {
    height: 100%;
  }
  
  body {
    margin: 0;
    overflow: hidden;
  }
  
  #root {
    display: flex;
    flex-direction: column;
  }
  
  /* 确保内容区域可以滚动 */
  main {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }