@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.footer {
  & {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--color-text);
    height: var(--spacing-12);
  }

  @include sm {
    & {
      height: var(--spacing-14);
    }
  }
  
  @include md {
    & {
      height: var(--spacing-16);
    }
  }
  
  @include lg {
    & {
      height: var(--spacing-18);
    }
  }

  &__container {
    & {
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding-left: var(--spacing-4);
      padding-right: var(--spacing-4);
      @include flex(row, center, center);
    }

    @include sm {
      & {
        max-width: var(--container-sm);
        padding-left: var(--spacing-6);
        padding-right: var(--spacing-6);
      }
    }

    @include md {
      & {
        max-width: var(--container-md);
      }
    }

    @include lg {
      & {
        max-width: var(--container-lg);
      }
    }
  }

  &__content {
    & {
      text-align: center;
      font-size: var(--font-size-xs);
    }
    
    @include sm {
      & {
        font-size: var(--font-size-sm);
      }
    }
  }
}