@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

.header {
  width: 100%;
  background-color: var(--color-white);
  
  &__container {
    @include mix.flex(row, space-between, center);
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}